*:focus {
	outline-style: none;
}

body {
	font-family: "Recursive", sans-serif;
	background-color: #424b54;
	width: 100vw;
	height: 100vh;
}

input:focus {
	outline: none;
}

.input-card {
	margin: 20px auto;
	max-width: 400px;
	border: none;
}

.input-card .card-header {
	letter-spacing: 5px;
	background-color: #69a197;
	color: #f2edeb;
	font-size: 1.3rem;
}

.result-card {
	margin: 40px auto;
	max-width: 400px;
	border: none;
}

.result-card .card-header {
	letter-spacing: 5px;
	background-color: #d88373;
	font-size: 1.3rem;
}

.card-body {
	background-color: #dde0e4;
}

.form-control,
.form-control:focus {
	border-color: inherit;
	box-shadow: none;
	background-color: #ffffff;
	border: solid 2px #424b54;
}

.btn-light {
	background-color: #9bc0ba;
}
.btn-light:hover {
	background-color: #f2edeb !important;
}

.btn-light:active {
	background-color: #dfd2ce !important;
}
.btn-light:focus {
	background-color: #dfd2ce !important;
}

.progress {
	height: 25px;
}

.progress-bar {
	background-color: #687d5c;
}

.card:before {
	content: "";
	pointer-events: none;
	position: absolute;
	top: -2px;
	left: 0;
	width: 400px;
	height: 60px;
	opacity: 1;
	background: rgba(255, 255, 255, 0.13);
	background: linear-gradient(
		to top,
		rgba(255, 255, 255, 0.13) 0%,
		rgba(255, 255, 255, 0.20) 77%,
		rgba(255, 255, 255, 0.5) 92%,
		rgba(255, 255, 255, 0.0) 100%
	);
}

.icon {
	position: relative;
	overflow: hidden;
	width: 50px;
	height: 50px;
	display: inline-block;

	margin: 25px 0 25px 25px;
	border-radius: 5px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	font-size: 12px;
	font-family: sans-serif;
}

.icon:nth-child(1) {
	background: cornflowerblue;
}
.icon:nth-child(2) {
	background: salmon;
}
.icon:nth-child(3) {
	background: gray;
}

/**
 * The "shine" element
 */

.icon:after {
	content: "";
	position: absolute;
	top: -110%;
	left: -210%;
	width: 200%;
	height: 200%;
	opacity: 0;
	transform: rotate(30deg);

	background: rgba(255, 255, 255, 0.13);
	background: linear-gradient(
		to right,
		rgba(255, 255, 255, 0.13) 0%,
		rgba(255, 255, 255, 0.13) 77%,
		rgba(255, 255, 255, 0.5) 92%,
		rgba(255, 255, 255, 0.0) 100%
	);
}

/* Hover state - trigger effect */

.icon:hover:after {
	opacity: 1;
	top: -30%;
	left: -30%;
	transition-property: left, top, opacity;
	transition-duration: 0.7s, 0.7s, 0.15s;
	transition-timing-function: ease;
}

/* Active state */

.icon:active:after {
	opacity: 0;
}
