*:focus {
	outline-style: none;
}

body {
	font-family: "Recursive", sans-serif;
	background-color: #424b54;
	width: 100vw;
	height: 100vh;
}

input:focus {
	outline: none;
}

.input-card {
	margin: 20px auto;
	max-width: 400px;
	border: none;
}

.input-card .card-header {
	letter-spacing: 5px;
	background-color: #69a197;
	color: #f2edeb;
	font-size: 1.3rem;
}

.result-card {
	margin: 40px auto;
	max-width: 400px;
	border: none;
}

.result-card .card-header {
	letter-spacing: 5px;
	background-color: #d88373;
	font-size: 1.3rem;
}

.card-body {
	background-color: #dde0e4;
}

.form-control,
.form-control:focus {
	border-color: inherit;
	box-shadow: none;
	background-color: #ffffff;
	border: solid 2px #424b54;
}

.btn-light {
	background-color: #9bc0ba;
}
.btn-light:hover {
	background-color: #f2edeb !important;
}

.btn-light:active {
	background-color: #dfd2ce !important;
}
.btn-light:focus {
	background-color: #dfd2ce !important;
}

.progress {
	height: 25px;
}

.progress-bar {
	background-color: #687d5c;
}

.card:before {
	content: "";
	pointer-events: none;
	position: absolute;
	top: -2px;
	left: 0;
	width: 400px;
	height: 60px;
	opacity: 1;
	background: rgba(255, 255, 255, 0.13);
	background: linear-gradient(
		to top,
		rgba(255, 255, 255, 0.13) 0%,
		rgba(255, 255, 255, 0.20) 77%,
		rgba(255, 255, 255, 0.5) 92%,
		rgba(255, 255, 255, 0.0) 100%
	);
}

button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: .5em 1em;
}


$colors: (
  pulse: #9bc0ba, 
);

@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 10deg)};
  }
}

button {  
  color: var(--color);
  transition: 0.25s;
  
  &:hover,
  &:focus { 
    border-color: var(--hover);
    color: #d88373;
  }
}

.pulse:hover, 
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 1em rgba(#fff,0);
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}
